*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #96BE8C;
    color: #1A181B;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url();
}

.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #1A181B;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}


/*--about--*/
#about{
    padding: 80px 0;
    color: #1A181B;
}




.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 50px;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2F4F4F;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}


.tab-contents ul li span{
    color: #2F4F4F;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*portfolio*/

#portfolio{
    padding: 30px 0;

}

.empty{
    background: #96BE8C;
}


.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-list div{
    background: #C99DA3;
    padding:40px;
    /*height: 400px;*/
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    
}

.project-list .empty{
    background: #96BE8C;
    padding:40px;
    /*height: 400px;*/
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}




/*contact*/
#contact {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

#row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-item a{
    margin: 0;
    margin-bottom: 10px;
    color:#1A181B
}

.contact-item p{
    margin: 0;
    margin-bottom: 10px;
    color:#1A181B
}


#contact-subtitle{
    margin-bottom: 20px;
}



